<h1>Lista de Usuarios</h1>

<!-- Botón para borrar usuarios inactivos -->
<button id="borrarInactivosButton">Borrar Usuarios Inactivos</button>

{{#each usuarios}}
  <div>
    <h3>Nombre del usuario: {{nombre}}</h3>
    <p>Email: {{email}}</p>
    <p>Rol: {{rol}}</p>
    <p>Última conexión: {{ultimaConexion}}</p>

    <h3>Carritos de {{nombre}}:</h4>
    {{#each carritos}}
      <p>ID Carrito: {{idCarrito}}</p>
      <p>Estado: {{estado}}</p>
    {{/each}}
  </div>
  <br>
  <br>
  <br>
{{/each}}

<script src="/js/usuarios.js"></script>

